<p id="notice"><%= notice %></p>

<p>
  <strong>Unit:</strong>
  <%= @unit_image.unit_id %>
</p>

<p>
  <strong>Url:</strong>
  <%= @unit_image.url %>
</p>

<p>
  <strong>Name:</strong>
  <%= @unit_image.name %>
</p>

<%= link_to 'Edit', edit_unit_image_path(@unit_image) %> |
<%= link_to 'Back', unit_images_path %>
