.container
  .breadcrumbs
    %ul
      %li
        = link_to "Home", :root
        %span.divider >
      %li Dresses
#index-field
%section.dresses
  .container
    .row
      %section.col-md-3
      %section.col-md-9
        .row
          - @items.each do |item|
            .dress.col-md-4
              %span.fav-dress-btn.events.favourite-dress
                %i.fa.fa-heart-o
              .dress-link
              .dress__images
              %a.dress__name= item.designer.name
              %a.dress__summary= item.name
              .dress-link
                %span.hire-button
                  = item.retail_price.to_i
                  %br.rental-price
                    = item.hire_price.to_i
