.container
  = render_breadcrumbs builder: ::CustomBreadcrumbsBuilder
.container
  .row
    .col-md-2
    .col-md-6
    %section.col-md-4
      .dress-info
        .dress-info__designer= @item.name
        .dress-info__name= @item.summary
        .dress-info__favorite
          %i.fa.fa-heart-o
        .dress-info__price
          %span.dress-info__price__hire
            HIRE #{@item.currency.name}#{@item.hire_price}
          %span.dress-info__price__retail= @item.retail_price
        .dress-info__label
          %span.label
            FREE SHIPPING
      .dress-order.order
        .order__label 1. SIZE
        .order__input.where-size
          .order__input__option
          .order__input__option
        %a.order__guide
          SIZE GUIDE
        .order__label 2. EVENT DATE
        .order__input.where-event
        .order__label 3. HIRE PERIOD
        .order__input.where-period
          .order__input__option 4 Days
          .order__input__option 8 Days
        .order__label YOUR ORDER
        .order__info
          .order__info__designer= @item.name
          .order__info__name= @item.summary
          .order__info__size
          .order__info__delivery 2017/06/27
          .order__info__return 2017/06/30
        .order__submit
          HIRE NOW
          %i.fa.fa-angle-right
      .dress-note
        %ul.note-list
          %li.note-list__item
            .note-list__item__title{"data-toggle" => "collapse", "data-target" => "#note1"}
              STYLE NOTES
              %i.fa.fa-angle-right
            .note-list__item__content.collapse#note1
              = @item.description
          %li.note-list__item
            .note-list__item__title{"data-toggle" => "collapse", "data-target" => "#note2"}
              PRODUCT DETAILS
              %i.fa.fa-angle-right
            .note-list__item__content.collapse#note2
              = @item.detail
          %li.note-list__item
            .note-list__item__title{"data-toggle" => "collapse", "data-target" => "#note3"}
              SIZE AND FIT
              %i.fa.fa-angle-right
            .note-list__item__content.collapse#note3
              BUST – Great for any cup size. 
              WAIST – Fitted, dress with close fit. 
              HIPS – Fitted, fits true to size (Go one size up for backup). 
              LENGTH – Long. 
              UNDERGARMENTS – Can be worn with any standard bra. 
              FABRIC – Slightly-stretchy fabric. 
              GREAT FOR – Athletic, Hourglass, Tall, Straight & Narrow body (Model is 177cm/ 5’9” and is wearing an UK size 8).
          %li.note-list__item
            .note-list__item__title{"data-toggle" => "collapse", "data-target" => "#note4"}
              OUR FIT PROMISE
              %i.fa.fa-angle-right
            .note-list__item__content.collapse#note4