%p#notice= notice
%h1 Units
%table
  %thead
    %tr
      %th Item
      %th Currency
      %th Quantity
      %th Price
      %th Name
      %th{:colspan => "3"}
  %tbody
    - @units.each do |unit|
      %tr
        %td= unit.item_id
        %td= unit.currency_id
        %td= unit.quantity
        %td= unit.price
        %td= unit.name
        %td= link_to 'Show', unit
        %td= link_to 'Edit', edit_unit_path(unit)
        %td= link_to 'Destroy', unit, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Unit', new_unit_path
