!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %link{rel: "stylesheet", href: "https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css"}
    %title ECSample
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
  %body{'data-controller': controller_path, 'data-action': action_name}
    = render 'layouts/header'
    %section#body
      = yield
  = include_gon
  = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
